In [2]:
import pandas as pd

In [3]:
bios = pd.read_csv("./data/bios.csv")

In [10]:
bios.loc[bios["height_cm"] == 135]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
4505,4520,Peter Ayesu,1962-06-01,NaN,NaN,NaN,Malawi,135.0,51.0,NaN
28762,28976,Choi Myong-Hui,1966-06-13,NaN,NaN,NaN,Democratic People's Republic of Korea,135.0,25.0,NaN
101552,102450,Jana Labáková,1966-01-26,Detva,Banská Bystrica,SVK,Czechoslovakia,135.0,34.0,NaN