## Import Pandas/Numpy

In [3]:
import pandas as pd
import numpy as np

## DataFrame

In [ ]:
pdf = pd.DataFrame
df = pdf([[1, 2, 3], [3, 2, 1], [4, 5, 6]])

In [18]:
df

   0  1  2
0  1  2  3
1  3  2  1
2  4  5  6

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      int64
 1   1       3 non-null      int64
 2   2       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes

In [24]:
df.describe()

              0         1         2
count  3.000000  3.000000  3.000000
mean   2.666667  3.000000  3.333333
std    1.527525  1.732051  2.516611
min    1.000000  2.000000  1.000000
25%    2.000000  2.000000  2.000000
50%    3.000000  2.000000  3.000000
75%    3.500000  3.500000  4.500000
max    4.000000  5.000000  6.000000

In [25]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [26]:
df.nunique()

0    3
1    2
2    3
dtype: int64

In [27]:
df.index.tolist()

[0, 1, 2]

In [28]:
df.columns.tolist()

[0, 1, 2]

In [30]:
df[1].tolist()

[2, 2, 5]

## Load DF from Files

In [31]:
coffee = pd.read_csv("./warmup-data/coffee.csv")

In [4]:
bios = pd.read_csv("./data/bios.csv")

In [40]:
## To read an excel spreadsheet
olympics_data = pd.read_excel('./data/olympics-data.xlsx', sheet_name="results")

In [34]:
coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          14 non-null     object
 1   Coffee Type  14 non-null     object
 2   Units Sold   14 non-null     int64
dtypes: int64(1), object(2)
memory usage: 468.0+ bytes

In [38]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

## Filtering

In [41]:
bios.loc[bios["height_cm"] == 135]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
4505,4520,Peter Ayesu,1962-06-01,NaN,NaN,NaN,Malawi,135.0,51.0,NaN
28762,28976,Choi Myong-Hui,1966-06-13,NaN,NaN,NaN,Democratic People's Republic of Korea,135.0,25.0,NaN
101552,102450,Jana Labáková,1966-01-26,Detva,Banská Bystrica,SVK,Czechoslovakia,135.0,34.0,NaN

In [14]:
bios[bios["born_country"] == "FRA"].head(3)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17

In [15]:
bios[bios['NOC'].isin(['France', 'Australia'])]
#negando
#bios[~bios['NOC'].isin(['France', 'Australia'])]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
144647,148343,Léo Le Blé Jaques,1997-01-02,Chêne-Bougeries,Genève,SUI,France,175.0,80.0,NaN
144648,148344,Liam Tourki,1999-03-25,Grenoble,Isère,FRA,France,170.0,62.0,NaN
144649,148345,Gwendoline Daudet,1998-11-28,Nogent-sur-Marne,Val-de-Marne,FRA,France,158.0,54.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

In [16]:
bios.loc[
    (bios['born_country'] == 'FRA') &
    (bios['height_cm'].between(170, 190)) &
    (bios['died_date'].isnull())
]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
5,6,Nicolas Chatelain,1970-01-13,Amiens,Somme,FRA,France,181.0,70.0,NaN
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.0,73.0,NaN
17,18,Jean-Philippe Gatien,1968-10-16,Alès,Gard,FRA,France,178.0,73.0,NaN
25,26,Henri Leconte,1963-07-04,Lillers,Pas-de-Calais,FRA,France,184.0,78.0,NaN
...,...,...,...,...,...,...,...,...,...,...
144635,148329,Julia Simon,1996-10-09,Albertville,Savoie,FRA,France,170.0,NaN,NaN
144640,148335,Hugo Lapalus,1998-07-09,Annecy,Haute-Savoie,FRA,France,179.0,64.0,NaN
144644,148339,Gaël Blondeau,2000-12-28,Pontarlier,Doubs,FRA,France,180.0,66.0,NaN
144645,148340,Laurent Mühlethaler,1997-09-27,Prémanon,Jura,FRA,France,178.0,67.0,NaN
144648,148344,Liam Tourki,1999-03-25,Grenoble,Isère,FRA,France,170.0,62.0,NaN

In [17]:
#com a query fica mais legivel
bios.query("born_country == 'FRA' and height_cm >= 170 and height_cm <= 190 and died_date.isnull()")

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
5,6,Nicolas Chatelain,1970-01-13,Amiens,Somme,FRA,France,181.0,70.0,NaN
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.0,73.0,NaN
17,18,Jean-Philippe Gatien,1968-10-16,Alès,Gard,FRA,France,178.0,73.0,NaN
25,26,Henri Leconte,1963-07-04,Lillers,Pas-de-Calais,FRA,France,184.0,78.0,NaN
...,...,...,...,...,...,...,...,...,...,...
144635,148329,Julia Simon,1996-10-09,Albertville,Savoie,FRA,France,170.0,NaN,NaN
144640,148335,Hugo Lapalus,1998-07-09,Annecy,Haute-Savoie,FRA,France,179.0,64.0,NaN
144644,148339,Gaël Blondeau,2000-12-28,Pontarlier,Doubs,FRA,France,180.0,66.0,NaN
144645,148340,Laurent Mühlethaler,1997-09-27,Prémanon,Jura,FRA,France,178.0,67.0,NaN
144648,148344,Liam Tourki,1999-03-25,Grenoble,Isère,FRA,France,170.0,62.0,NaN

In [ ]:
bios.loc[lambda df: df['weight_kg'] > df['weight_kg'].mean()]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.0,73.0,NaN
16,17,Guy Forget,1965-01-04,Casablanca,Casablanca-Settat,MAR,France,189.0,79.0,NaN
17,18,Jean-Philippe Gatien,1968-10-16,Alès,Gard,FRA,France,178.0,73.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145464,149191,Joonas Nättinen,1991-01-03,Jämsä,Keski-Suomi,FIN,Finland,189.0,90.0,NaN
145465,149192,Stanislav Galiyev,1992-01-17,Moskva (Moscow),Moskva,RUS,ROC,188.0,82.0,NaN
145466,149193,Mikkel Aagaard,1995-10-18,Frederikshavn,Nordjylland,DEN,Denmark,184.0,81.0,NaN
145468,149195,Justin Abdelkader,1987-02-25,Muskegon,Michigan,USA,United States,187.0,97.0,NaN
145473,149200,Toms Andersons,1993-11-25,Rīga,Rīga,LAT,Latvia,185.0,86.0,NaN

In [20]:
bios.sort_values(by=["name", "born_date"])

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
19821,19960,Abdul Rashid,1922-06-01,Rawalpindi,Punjab,PAK,Pakistan,169.0,91.0,1988-03-08
73853,74423,Abdul Rashid,1928-04-25,NaN,NaN,NaN,Pakistan,NaN,NaN,NaN
19822,19961,Abdul Rashid,1947-03-03,Bannu,Khyber-Pukhtunkhwa,PAK,Pakistan,170.0,75.0,2020-11-04
113784,115084,Abdul Rashid,1979-02-15,Khanewal,Punjab,PAK,Pakistan,184.0,70.0,NaN
23976,24163,Abel Braga,1952-09-01,Rio de Janeiro,Rio de Janeiro,BRA,Brazil,190.0,73.0,NaN
...,...,...,...,...,...,...,...,...,...,...
104603,105625,Ștefan Vasilache,1979-05-09,Roman,Neamț,ROU,Romania,191.0,79.0,NaN
104214,105226,Ștefan Vasile,1982-02-17,Brăila,Brăila,ROU,Romania,188.0,87.0,NaN
32372,32615,Ștefan Zoller,1914-08-27,Sibiu,Sibiu,ROU,Romania,NaN,NaN,1993-10-21
80057,80708,Ștefania Botcariu,1936-01-11,Bistrița,Bistrița-Năsăud,ROU,Romania,NaN,NaN,NaN
99727,100526,Аlex Halcheniuk,1967-07-28,Minsk,Minsk,BLR,Belarus,181.0,87.0,NaN

In [21]:
bios.sort_values(by=['born_country', 'height_cm'], ascending=[True, False])

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
116031,117410,Rohullah Nikpai,1987-06-15,Kabul,Kabul,AFG,Afghanistan,183.0,NaN,NaN
56661,57065,Ghulam Dastagir,1945-07-24,Kabul,Kabul,AFG,Afghanistan,180.0,87.0,NaN
103917,104914,Robina Muqim Yaar,1986-07-03,Kabul,Kabul,AFG,Afghanistan,180.0,56.0,NaN
63783,64263,Abdul Wardak,1940-08-15,Kabul,Kabul,AFG,Afghanistan,179.0,75.0,NaN
63781,64261,Abdul Hadi Shekaib,1940-04-27,Kabul,Kabul,AFG,Afghanistan,178.0,68.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145484,149211,Gao Hongbo,2000-10-20,NaN,NaN,NaN,People's Republic of China,NaN,NaN,NaN
145486,149213,Dmitry Karlagachev,1998-10-13,NaN,NaN,NaN,ROC,NaN,NaN,NaN
145489,149216,Ye Jielong,2000-03-02,NaN,NaN,NaN,People's Republic of China,NaN,NaN,NaN
145490,149217,Sin Ye-Chan,1995-06-13,NaN,NaN,NaN,Republic of Korea,NaN,NaN,NaN
145491,149218,Matthew Wepke,1989-12-05,NaN,NaN,NaN,Jamaica,NaN,NaN,NaN

In [22]:
bios.nlargest(10, 'height_cm')
#bios.nsmallest(10, 'weight_kg')

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
89070,89782,Yao Ming,1980-09-12,Xuhui District,Shanghai,CHN,People's Republic of China,226.0,141.0,NaN
5781,5804,Tommy Burleson,1952-02-24,Crossnore,North Carolina,USA,United States,223.0,102.0,NaN
6978,7013,Arvydas Sabonis,1964-12-19,Kaunas,Kaunas,LTU,Lithuania Soviet Union,223.0,122.0,NaN
5673,5696,Gunther Behnke,1963-01-19,Leverkusen,Nordrhein-Westfalen,GER,Germany,221.0,114.0,NaN
89075,89787,Roberto Dueñas,1975-11-01,Madrid,Madrid,ESP,Spain,221.0,137.0,NaN
120266,122147,Zhang Zhaoxu,1987-11-18,Binzhou,Shandong,CHN,People's Republic of China,221.0,110.0,NaN
5089,5108,Viktor Pankrashkin,1957-06-19,Moskva (Moscow),Moskva,RUS,Soviet Union,220.0,112.0,1993-07-24
6504,6537,Luc Longley,1969-01-19,Melbourne,Victoria,AUS,Australia,220.0,135.0,NaN
7188,7226,Vladimir Tkachenko,1957-09-20,Golovinka,Krasnodar Kray,RUS,Soviet Union,220.0,110.0,NaN
107408,108533,Peter John Ramos,1985-05-23,Fajardo,Puerto Rico,PUR,Puerto Rico,219.0,113.0,NaN

## Adding Columns

In [ ]:
new_bios = bios.copy()

In [ ]:
# "|" can be used as OR.
new_bios["first_name"] = new_bios["name"].str.split(' |-').str[0]